main {
  text-align: center;
  background-color: var(--bcpink);
  color: var(--bcred);
  height: 85vh;
  font-size: 4em;
  padding: 15vh 0;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  background-color: var(--yellow);
  border-radius: 50%;
  height: 300px;
  width: 300px;
  box-shadow: 10px 10px 5px;
}
.odd {
  background-color: red;
  color: yellow;
}
.even {
  background-color: greenyellow;
}
